/AspCoreApi/IService/IService/bin
/AspCoreApi/IService/IService/obj
/AspCoreApi/Model/obj
/AspCoreApi/Model/bin
/AspCoreApi/Service/Service/obj
/AspCoreApi/Service/Service/bin
/AspCoreApi/AspCoreApi/internal-nlog.txt
