<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <!--define various log targets asynwrapper使用一个单独的线程来处理写操作。调用立即返回，调用方可以继续其工作，稍后将写入日志。 缓冲区中有足够的消息（由buffersize参数指定）后，bufferingwrapper将阻塞消息并将其写入目标。调用方需要等到写入完成。 /${logger}.txt  -->
  <targets>

    <target name="info" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/error/${date:format=yyyy-MM}/${shortdate}.txt" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message} ${event-context:item=Amount} ${stacktrace}" encoding="utf-8"/>
    </target>

    <target name="debug" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/debug/${shortdate}.txt" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message} ${event-context:item=Amount} ${stacktrace}" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="info" />
    <!-- 將來自於 Microsoft. assembly 的 Info 以下 (Info,Debug,Trace) log 都排除 (沒有 writeTo 就不會輸出 )-->
     <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>

</nlog>